@model Pouzivatel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pouzivatel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priezvisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priezvisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumNarodenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumNarodenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HesloHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HesloHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rola.Nazov)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PouzivatelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
